*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 140, 198);
}


.container{
    width: 50%;
    margin: 200px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

h1{
    text-align: center;
    color: rgb(251, 162, 217);
    margin-bottom: 20px;
}

.new-task{
    text-align: center;
}

input{
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px;
    border-color: rgb(248, 140, 198);
    color: rgb(240, 54, 168);
}

button{
    padding: 3px;
    background-color: rgb(248, 140, 198);
    border-color: rgb(248, 140, 198);
    border-radius: 5px;
    color: white;
}

.tasks-container{
    background-color: rgb(251, 162, 217);
    border-radius: 20px;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    color: white;
}

li{
    list-style-type: none;
    border-bottom: 1px solid rgb(240, 54, 168);
    position: relative;
    padding: 8px 0;
    cursor: pointer;
}

.fa-x{
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 12px;
    cursor: pointer;
    padding-right: 2px;
    color: white;
}

.done{
    text-decoration: line-through;
}

.no-tasks{
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.errors{
    color: rgb(240, 54, 168);
    text-align: right;
    padding: 10px 20px;
}